Repository bellshade/CPP, pull requests merged in 2024-10, with the labels that each got.

#103 add:selection sort
  algorithm/sorting/selection_sort.cpp
Labels: HACKTOBERFEST-ACCEPTED, ready-to-merge

#115 feat: menambahkan adaline learning
  artificial_intelligence/CMakeLists.txt
  artificial_intelligence/adaline_learning.cpp
Labels: HACKTOBERFEST-ACCEPTED, ready-to-merge

#116 add:sigmoid.cpp
  math/sigmoid.cpp
Labels: ready-to-merge

#118 chore: menambahkan algoritma dp untuk problem work break
  algorithm/dynamic_programming/word_break.cpp
Labels: ready-to-merge

#119 chore: update konfigurasi mergify
  .mergify.yml
Labels: HACKTOBERFEST-ACCEPTED, ready-to-merge

#120 feat: menambahkan algoritma dp
  algorithm/dynamic_programming/angka_armstrong.cpp
Labels: ready-to-merge, cpp file

#121 feat: menambahkan algoritma graham scan
  CMakeLists.txt
  geometri/CMakeLists.txt
  geometri/graham_scan.cpp
  geometri/include/fungsi_graham.hpp
Labels: ready-to-merge, cpp file

#122 feat: menambahkan algoritma djikstra graf
  .github/workflows/cpp.yml
  .linter/file_linter.py
  CMakeLists.txt
  graf/CMakeLists.txt
  graf/djikstra.cpp
Labels: ready-to-merge, cpp file

#124 Stat
  math/statistik_deskritif.cpp
Labels: ready-to-merge, cpp file

#125 feat: menambahkan algoritma KNN
  artificial_intelligence/k_nearest_neighbour.cpp
Labels: ready-to-merge, cpp file
